* {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}


.foo,
#smallScreen {
    padding: 100px;
    height: 90vh;
}

#introSmaller {
    display: none
}

div.foo {
    color: white;
}

#aLetter {
    position: absolute;
    top: 0;
    left: .1em;
    font-size: 30em;
    font-family: 'Prata', serif;
}

#oLetter {
    position: absolute;
    top: .25em;
    left: 1.1em;
    font-size: 30em;
    font-family: 'Prata', serif;
}

#intro,
#introSmaller {
    height: 100vh;
}

#headerName {
    position: absolute;
    top: 2em;
    right: 5em;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;;
    text-align: center;
}

#AO {
    font-size: 20em;
    font-family: 'Prata', serif;
    position: relative;
    letter-spacing: .1em;
}

#smallerTitle {
    position: relative;
    font-family: 'Open Sans', sans-serif;;
    text-align: center;
    font-size: 2em;
}

#about {
    margin: 5em 15em;
}

#aboutMeText {
    color: black;
    /*padding: 100px*/
    font-family: 'Open Sans', sans-serif;;
}

#about h2 {
    font-size: 7em
}

#about p {
    font-size: 1.25em;
    padding-bottom: .5em;
    line-height: 1.5em;
}

#about h3 {
    font-size: 1.5em;
    padding: .5em;
    font-weight: bold;
}

.icon {
    width: 50px;
    padding-top: .25em
}

#projects {
    font-family: 'Open Sans', sans-serif;;
    color: black;
}

#boxDiv {
    margin: 2.5rem 5rem ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#secondRow {
    display: flex;
    flex-direction: row;
}

.box {
    background-color: darkgrey;
    margin: 1rem;
    float: left;
    text-align: center;
}

.short {
    width: 10rem;
    height: 10rem
}

.long {
    width: 25rem;
    height: 23.05rem;
}

.box p {
    position: relative;
    margin: 0 auto;
    font-size: 1.5em;
    color: white;
    padding-top: 32%;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.box::after {
}

#projects h2 {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;;
    color: #fff;
    background-image: url(https://static1.squarespace.com/static/53b4d49de4b00894c69c7a0c/t/53f554c2e4b09e4c2a568f5b/1408586946917/?format=500w);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 1rem;
    
}

#travelBuddy {
    background-image: url(http://1.bp.blogspot.com/-jiGD-i2wfKA/TZTz8XeW84I/AAAAAAAAAl0/R4Ah3wXFbZ8/s1600/tumblr_lildjsl06D1qdkwieo1_500_large.jpg);
    background-size: cover;
    background-color: darkgrey;

}

#erel {
    background-image: url(https://cdn.yoast.com/app/uploads/2016/07/Email_marketing_FI.png);
    background-size: cover;
    background-color: darkgrey;

}


#pa {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtsjcx8Wpvks64wrdUcZpqumHxSc48cBWn4RhXHQN_Hdk9QqDU);
    background-size: cover;
    background-color: darkgrey;
}

#tennis {
    background-image: url(https://i2.wp.com/pakobserver.net/wp-content/uploads/2017/12/Tennis.jpg?resize=696%2C463&ssl=1);
    background-size: cover;
    background-color: darkgrey;
}

#interview {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5eu1eY0UJe43EXjeZoBNZB6zXyK7BTHoo_SxEGFxuVSvEMbXlkQ);
    background-size: cover;
    background-color: darkgrey;
}

#estc {
    background-image: url(https://media3.s-nbcnews.com/i/MSNBC/Components/Video/201803/tdy_news_or_tennis_balls_180321_1920x1080.jpg);
    background-size: cover;
    background-color: darkgrey;
}

#car {
    background-image: url(https://www.ford.com/cmslibs/content/dam/brand_ford/en_us/brand/legacy/nameplate/cars/18_mst_segment_landing_32.jpg/_jcr_content/renditions/cq5dam.web.1280.1280.jpeg);
    background-size: cover;
    background-color: darkgrey; 
}
#contact {
    background-color: rgb(95,75,139)
}

#contact,
#smallScreen {
    height: 100vh;
    padding: 100px;
    padding-top: 200px;
}

#contact h2 {
    font-family: 'Prata', serif;
    font-size: 7.5em;
    color: #fff;
}


#contact a,
p {
    font-family: 'Open Sans', sans-serif;;
}

#contact a,
#smallScreen a {
    color: #FFF;
    text-decoration: none;
    word-spacing: 10px;
    font-size: 1.5em;
    line-height: 65px;
}

#contact a:hover {
    opacity: .75;
}

#smallScreen {
    display: none;
}

#contact p {
    font-size: 2em;
}

@media screen and (max-width: 1000px) {
    #boxDiv {
        flex-direction: column;
    }
    #smallBoxDiv  {
        height: 200px;
        padding-left: 25px;
    }
}

@media (max-width: 900px) {
    #aLetter, #oLetter {
        font-size: 15em;
    }
    #aLetter {
        position: relative;
    }
    #headerName {
        top: 15em;
    }
    #projects,
    #contact {
        padding-top: 200px;
    }
    #innerContactBox {
        padding-top: 100px;
    }
}

@media (max-width: 800px) {
    #projects,
    #contact {
        padding-top: 300px;
    }
}
@media screen and (max-width: 701px) {
    #intro {
        display: block;
    }
    #smallScreen {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    #projects {
        padding-top: 350px;
        text-align: center;
    }
    #contact {
        font-size: 1em;
    }
    .box {
        width: 100%;
    }
    #contact,
    #intro {
        display: none;
    }
    #smallScreen {
        display: inline-block;
        background-color: rgb(98, 203, 213);
        font-family: 'Open Sans', sans-serif;;
        color: #fff;
        margin-top: 100px;
        margin-bottom: 0;
    }
    #introSmaller {
        display: inline-block;
        text-align: center;
        width: 100%
    }
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 7em;
    }
    #projects {
        padding-top: 500px;
    }
}